* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "AbelRegular";
  src: local("AbelRegular"), url("./fonts/Abel-Regular.ttf") format("truetype");
}

body {
  background-color: #1a2036;
}
a {
  text-decoration: none;
}
.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "AbelRegular";
}

.video {
  position: fixed;
  z-index: -1;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  display: flex;
}

.main-wrapper {
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 950px;
  min-width: 850px;
  width: 62vw;
  height: 80vh;
  max-height: 580px;
  background-color: #242b42ab;
  position: relative;
}

.navigation {
  border-radius: 20px;
  background-color: #1a2036;
  display: flex;
  flex-direction: column;
  height: 70vh;
  min-height: 500px;
  width: 6.6vw;
  min-width: 61px;
  max-width: 70px;
}

.icons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.icons-wrapper svg {
  font-size: 2rem;
  color: white;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.icons-wrapper svg:hover {
  transform: scale(1.2);
  color: #b9990b;
}

/* .icons-wrapper span a:visited {
  color: white;
} */

.flip-card-wrapper {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 20px;
  height: 67vh;
  min-height: 478px;
  width: 45vw;
  min-width: 640px;
}

.flip-container {
  height: 32vh;
  min-height: 230px;
  min-width: 184px;
  width: 12vw;
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-container:nth-child(1) img {
  object-position: top;
}
.flip-container:nth-child(2) img {
  object-position: left;
}

.flip-container:hover .flip-card {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  background-color: #1a2036;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 0.2rem;
}

.front img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.demo-text {
  color: #eee;
  font-family: "AbelRegular";
  font-size: 1rem;
}

.demo-btn {
  /* background-color: transparent; */
  border-radius: 15px;
  border: none;
  padding: 0.4rem;
  background-color: white;
  color: #1a2036;
  transition: background-color 0.25s ease-in, transform 0.25s ease-in;
}

.demo-btn a:visited {
  color: black;
}

.demo-btn:hover {
  transform: scale(1.15);
  background-color: #b9990b;
}

.my-name {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: white;
}
/* "mobile" from 800px */ ;
